{% assign repo_parts = include.repository | split: '/' %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.repository }}" class="text-decoration-none">
    <div class="repo-card repo-card-repo card hoverable">
      <div class="repo-card-body">
        <i class="fab fa-github gh-icon repo-card-github-icon" aria-hidden="true"></i>
        <div class="repo-card-slug">
          <span class="repo-card-owner">{{ repo_parts.first }}</span><span class="text-muted">/</span><span class="repo-card-repo-name">{{ repo_parts.last }}</span>
        </div>
      </div>
    </div>
  </a>
</div>
